@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Rethink+Sans:wght@400;600&display=swap');

@layer base {
  :root {
    /* background */
    --color-background-primary: #fff;
    --color-background-secondary: #f2f2f2;
    --color-background-tertiary: #dddddd;
    --color-background-accent: #76903A;
    --color-background-accent-secondary: #D58C34;

    /* text */
    --color-text-primary: #34502C;
    --color-text-secondary: #74B364;

    /* foreground */
    --color-foreground-primary: #222222;
    --color-foreground-secondary: #555555;
    --color-foreground-tertiary: #888888;
  }

  .dark {
    /* background overrides */
    --color-background-primary: #1e1e1e;
    --color-background-secondary: #2c2c2c;
    --color-background-tertiary: #3c3c3c;
    --color-background-accent: #76903A;
    --color-background-accent-secondary: #D58C34;

    /* text overrides */
    --color-text-primary: #8BDB75;
    --color-text-secondary: #C2DEB0;

    /* foreground overrides */
    --color-foreground-primary: #FFFFFF;
    --color-foreground-secondary: #DDDDDD;
    --color-foreground-tertiary: #AAAAAA;
  }

  /* applies rethink sans to all elements, and roboto slab to headers by default,
     can change as needed */
  body {
    @apply font-sans bg-background-primary text-foreground-primary;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-text-primary;
  }
}


