.add-member-button{
    /* Frame 24 */
    box-sizing: border-box;

    position: absolute;
    width: 158px;
    height: 38px;
    left: 1250px;
    top: 121px;

    border: 1px solid #3C3C3C;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;



}

.add-member-button:hover {
	background-color: #2c2c2c;
}

.add-member-button:active {
	background-color:#3c3c3c;
}

.space{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1px;
    top: 7px;
}

body{
	background-color: #1e1e1e;
    color:#FFFFFF;
}